#container{
    width: 100%;
}

/*Navigation Menu*/
.title{
font-size: 21px;
padding-top: 2%;
background-color: white;
}
nav{
position: fixed;
height: 80px;
width: 100%;
padding-top: 15px;
overflow: hidden;
background-color: white;
margin: 0;
z-index: 1;
/*border-bottom: 1px solid black;*/
}
.whitebar{
    background-color: white;
    overflow: hidden;
    width: 100%;

}
nav ul{
list-style: none;
}
nav ul li{
display: inline;
padding: 18px;
padding-right: 25px;
font-size: 16px;

}
nav ul li a{
color: gray;

}
header{
display: block;
height:60px;
background-color: white;
/*border: 1px solid black;*/

}
/*Second row*/
#container1{
display: block;
min-width: 100%;
background-image: url(/images/banner.jpg);
background-size: cover;
height: 500px;
}

#inside{
padding-top: 80px;
padding-left: 35%;
}
#inside h1{
color: white;
}
.white{
color:white;
}
.dull{
margin-left: 0px;
}
#inside ul li{
list-style: none;
display: inline;
margin-left: 25px;
font-size: 30px;
position: relative;


}
#inside ul li a{
display: inline-block;
border: 1px solid white;
color: white;
width: 200px;
margin: 20px;
text-decoration: none;
border-radius: 10px;
margin-left: 10px;
padding: 10px;


    filter: brightness(60%);
-webkit-filter: brightness(60%);
-moz-filter: brightness(130%);
-o-filter: brightness(130%);
-ms-filter: brightness(130%);
}
.blue{
background-color:deepskyblue;
}

#inside ul li a:hover{
filter: brightness(110%);
-webkit-filter: brightness(110%);
-moz-filter: brightness(130%);
-;o-filter: brightness(130%);
-ms-filter: brightness(130%);
}
/*Styling for container2*/
.box{
    border: 2px solid lightblue;
    margin: 15px;
    width: 350px;
    margin-left: 10px;
    padding-left: 40px;
    height: 400px;
}


#middle{
    padding-top: 120px;


}

/*Styling the circles*/
.ocircle{
    height: 150px;
    width: 150px;
    border: 1px solid grey;
    border-radius: 100%;
    position: absolute;
    padding-top: 5px;
    margin-top: 50px;
    margin-left: 45px;

}
.icircle{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px solid;
    position: relative;
    margin-top: 21px;
    margin-left: 25px;
    background-color: rgb(8,106,151);
}
.pbottom{
    margin-bottom: 0;
    padding-top: 250px;
    font-style: normal;
}
.fa{
    margin-left: 40px;
    margin-top: 40px;
    background-color: white;
}
/*
Styling container 4*/
#container3{
    margin: 5px;
    background-color: rgb(34,34,34);
    color: white;
    padding-top: 20px;
    margin-top: 20%;
    padding-bottom: 10%;

}
.span{
    color: rgb(130,130,130);
}
#cent{
    text-align: center;
}
img{
    margin: 10%;
    width: 80%;
    border-radius: 5px;
}
.paragraph{
    display: block;
    width: 80%;
    margin-left: 10%;

}


















