/*Navigation Menu*/
nav{
position: fixed;
}
nav ul{
list-style: none;

}
nav ul li{
display: inline;
padding: 18px;
font-size: 16px;
}
/*Second row*/
.jumbotron{
margin: 0%;
background-image: url("/images/banner.jpg");
background-size: cover;
min-width: 100%;
height: auto;
}
