/*Navigation Menu*/
.title{
font-size: 21px;
padding-top: 2%;
}
nav{
position: fixed;
height: 60px;
padding-top: 15px;
/*border-bottom: 1px solid black;*/
}
nav ul{
list-style: none;
}
nav ul li{
display: inline;
padding: 18px;
padding-right: 25px;
font-size: 16px;
}
nav ul li a{
color: gray;
}
header{
display: block;
height:60px;
/*border: 1px solid black;*/

}
/*Second row*/
#container1{
display: block;
min-width: 100%;
background-image: url(/images/banner.jpg);
background-size: cover;
height: 500px;
}

#inside{
padding-top: 80px;
padding-left: 35%;
}
#inside h1{
color: white;
}
.white{
color:white;
}
#inside ul li{
list-style: none;
display: inline;
margin-left: 25px;
font-size: 30px;
}
#inside ul li a{
display: inline-block;
border: 1px solid white;
color: white;
width: 200px;
margin: 20px;
text-decoration: none;
border-radius: 10px;
margin-left: 10px;
padding: 10px;

    filter: brightness(60%);
-webkit-filter: brightness(60%);
-moz-filter: brightness(130%);
-o-filter: brightness(130%);
-ms-filter: brightness(130%);
}
.blue{
background-color:deepskyblue;
}

#inside ul li a:hover{
filter: brightness(110%);
-webkit-filter: brightness(110%);
-moz-filter: brightness(130%);
-o-filter: brightness(130%);
-ms-filter: brightness(130%);
}
